<h1>Edit item with the name of <%= @item.name %></h1>

<form action="/splat/edit" method="post">
  <input type="hidden" name="id" value='<%= @item.id %>'>
  <input type="text" name="name" value='<%= @item.name %>'>
  <input type="text" name="quantity" value='<%= @item.quantity %>'>
  <button type="submit">Edit Item</button>

</form>

<form action="/splat/delete" method="post">
  <input type="hidden" name="id" value='<%= @item.id %>'>
  <button type="submit" name="button"></button>
</form>
